@import "normalize";

.lte-ie8 {
	#footer-link {
		li.last {
			margin-right: 15px;
			border-right: 0px none;
		}
	}
}

.no-js {
	
}

.js {
	
}

.justfont-badge {
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, iframe {
	font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

body {
	position: relative;
	cursor: default;
}

#wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background: transparent url(../img/bg/whitediamond.png) scroll repeat 50% 100%;
}

#body {
	position: relative;
	width: 100%;
	height: 100%;
}

#header {
	position: absolute;
	width: 100%;
	height: 30px;
	top: 0px;
	left: 0px;
	z-index: 80;
	background: rgba(0,0,0,0.75) url(../img/bg/greyfloral-invert.png) scroll repeat 50% 50%;
	border-bottom: 3px solid rgb(255,255,255);
	border-bottom: 3px solid rgba(255,255,255,0.5);
	overflow: hidden;
	box-sizing: border-box;
}

#header-inner {
	width: 100%;
	height: 100%;
}

#static {
	position: absolute;
	z-index: 80;
	width: 100%;
	min-width: 900px;
	height: 100px;
	border-top: 3px solid rgb(255,255,255);
	border-bottom: 3px solid rgb(255,255,255);
	border-top: 3px solid rgba(255,255,255,0.5);
	border-bottom: 3px solid rgba(255,255,255,0.5);
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.75) url(../img/bg/greyfloral-invert.png) scroll repeat 50% 50%;
	font-size: 0.8em;
	box-sizing: border-box;
}

#static-inner {
	border-top: 3px solid rgba(0,0,0,1);
	border-bottom: 3px solid rgba(0,0,0,1);
	width: 100%;
	height: 100px;
}

#menu {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#menu-inner {
	width: 100%;
	height: 100%;
}

#menu-list {
	
	margin: 0 auto;
	padding: 0;
	width: 800px;
	height: 100%;
	text-align: center;
	
	> li {
		position: relative;
		display: inline-block;
		height: 100%;
		margin-left: 5px;
		overflow: hidden;
		white-space: nowrap;
		width: 125px;
		box-sizing: border-box;
		color: #EEE;
		text-shadow: 
			2px 2px #000,
			-2px 2px #000,
			2px -2px #000,
			-2px -2px #000;
		;
		
		.list {
			height: 100%;
			letter-spacing: 1px;
			font-size: 18px;
			cursor: pointer;
		}
		
		> ul {
			display: none;
		}
		
		a.list {
			color: inherit;
			display: block;
			text-decoration: none;
		}
		
		div.list {
			
		}
		
		span {
			display: block;
			text-align: center;
			cursor: pointer;
			font-family: wt014;
		}
		
		span.l {
			height: 50px;
			line-height: 50px;
			padding-top: 6px;
		}
		
		span.l0,
		span.l1 {
			height: 25px;
			line-height: 25px;
		}
		
		span.l0 {
			padding-top: 6px;
		}
		
		span.l1 {
			font-family: wt014;
		}
	}
	
	> li.menu-home {
		border-top: 5px solid #FFF;
	}
	
	> li.menu-events {
		border-top: 5px solid #F00;
	}
	
	> li.menu-rules {
		border-top: 5px solid #0F0;
	}
	
	> li.menu-circle {
		border-top: 5px solid #00F;
	}
	
	> li.menu-special {
		border-top: 5px solid #0FF;
	}
	
	> li.menu-guestbook {
		border-top: 5px solid #F0F;
	}
	
	> li:first-child {
		margin-left: 0px;
		.list{
			border-right: 1px solid rgba(255,255,255,0);
			border-left: 1px solid rgba(255,255,255,0);
		}
	}
	
	> li.active, 
	> li:hover {
		
		color: #111;
		text-shadow: 
			2px 2px 3px #FFF,
			-2px 2px 3px #FFF,
			2px -2px 3px #FFF,
			-2px -2px 3px #FFF;
		
		.list {
			border-right: 1px solid rgba(255,255,255,0.5);
			border-left: 1px solid rgba(255,255,255,0.5);
			background-color: rgba(0,0,0,0.5);
		}
	}
}

#footer {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 24px;
	left: 0;
	bottom: 0;
	font-size: 0.9em;
}

#footer-inner {
	width: 100%;
	height: 24px;
}

#copyright {
	position: absolute;
	top: 0;
	left: 30px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFF;
	text-shadow: 1px 1px #333;
}

#footer-link {
	list-style: none;
	margin: 0;
	padding: 2px 0 0;
	width: 100%;
	text-align: right;
	font-weight: bold;
	
	li {
		display: inline-block;
		height: 20px;
		line-height: 20px;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid rgb(255,255,255);
		border-right: 1px solid rgba(255,255,255, 0.5);
		
		a {
			color: #CCC;
			text-shadow: 1px 1px #333;
			text-decoration: none;
		}
		
		a:hover {
			color: #000;
			text-shadow:
				-1px -1px 1px #FFF,
				1px -1px 1px #FFF,
				-1px 1px 1px #FFF,
				1px 1px 1px #FFF;
			text-decoration: underline;
		}
	}
	
	li:last-child {
		margin-right: 100px;
		border-right: 0px none;
	}
}